<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.0.xsd"
	default-lazy-init="true">



	<!-- Datasource for LOCAL database connection -->
	
	<bean id="transactionManager"
    class="org.springframework.orm.jpa.JpaTransactionManager">
    <property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>
	
	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="persistenceUnitName" value="data5PU" />
		<property name="dataSource" ref="dataSource" />
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
			
				<property name="showSql" value="false" />
				<property name="generateDdl" value="true" />
				<property name="databasePlatform" value="org.hibernate.dialect.MySQL5Dialect" />
			</bean>
		</property>
	</bean>

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost/gwtapplication" />
		<property name="username" value="root" />
		<property name="password" value="" />
		
	</bean>

	<bean id="sessionFactory"
	
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="annotatedClasses">

			<list>
				<value>com.mamallan.gwtapp.shared.entity.UserEntity</value>
				<value>com.mamallan.gwtapp.shared.entity.MyAccountPreferencesEntity
				</value>
				<value>com.mamallan.gwtapp.shared.entity.GlobalPreferencesEntity
				</value>
				<value>com.mamallan.gwtapp.shared.entity.MyAccountEntity</value>
				<value>com.mamallan.gwtapp.shared.entity.BeanObjects</value>
				<value>com.mamallan.gwtapp.shared.entity.BindingsEntity</value>
				<value>com.mamallan.gwtapp.shared.entity.NameSpaceEntity</value>
				

			</list>
		</property>
	</bean>
	
	<bean id="ManagerApp" class="com.mamallan.gwtapp.database.MyRdbHelper">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	
</beans>

